@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

/* font-family: 'Philosopher', sans-serif; */

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav {
    width: 1120px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 31px;
}

.left_nav {
    display: flex;
}

.list {
    display: flex;
    gap: 41px;
    align-items: center;
    margin-left: 35px;
}

.list_item {
    color: grey;
    font-family: Roboto;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.list_item:hover {
    color: #DC780B;

}

.btn {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    width: 155px;
    height: 46px;
    border-radius: 5px;
    background: var(--PRIMARY, #DC780B);
    border: none;
}

.btb {
    color: #DC780B;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    width: 155px;
    height: 46px;
    border-radius: 5px;
    background: var(--PRIMARY, white);
    border: none;
}

.header_info {
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_info {
    color: var(--BLACK, #150C01);
    font-family: Philosopher;
    font-size: 48.83px;
    font-weight: 700;
    margin-bottom: 32px;
}

.text {
    color: var(--BLACK, #150C01);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 40px;
}

.food {
    width: 801px;
    height: 670px;
}

.text-info1 {
    text-align: center;
    color: #DC780B;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.text-info2 {
    text-align: center;
    color: #150C01;
    font-family: Philosopher;
    font-size: 31.25px;
    font-weight: 700;
    text-transform: capitalize;
}

.passion-text {
    color: #150C01;
    font-family: Philosopher;
    font-size: 25px;
    font-weight: 700;
}

.money {
    color: #150C01;
    /* text-align: center; */
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    opacity: 0.7;
}
.passion {
    width: 1120px;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 70px;
}
.pas {
    width: 280px;
    height: 228px;
}